
<div id="invoice-POS" >
  <div class="info" style="text-align: center">
    <p>New Habib Paint House main road,Naushahro Feroze</p>
    <p>Mobile Number: 03020889052</p>
  </div><!--End Info-->

  <div id="mid">
    <div class="info">
      <p>Customer Name: {{productOrderList.customerName}} </p>
      <p>Mobile Number: {{productOrderList.mobileNumber}} </p>
      <p>Invoice No. {{productOrderList.invoiceNo}}</p>
      <p>Date. {{productOrderList.createdAt | date:'short'}}</p>
    </div>
  </div><!--End Invoice Mid-->

  <div id="bot">

    <table  >
      <tr class="tabletitle">
        <td colspan="4" style="background: lightgray"></td>
      </tr>

      <td class="item">Product</td>
        <td class="item" align="right">Quantity</td>
<!--        <td class="item">Item Price</td>-->
<!--        <td class="item">Amount</td>-->
      <tr class="tabletitle">
        <td colspan="4" style="background: lightgray"></td>
      </tr>

      <div id="table" *ngFor="let p of productOrderList.productSales">
        <tr class="tabletitle">
          <td class="item" colspan="2">{{p.product.name}}</td>
        </tr>
        <tr class="tabletitle">
          <td></td>
          <td class="item" align="right">{{p.totalQuantitySale}}</td>
<!--          <td class="item">{{p.product.price | currency:'Rs:'}}</td>-->
<!--          <td class="item">{{p.product.price * p.totalQuantitySale | currency:'Rs:'}}</td>-->
        </tr>
      </div>
<!--      <div>___________________________________________</div>-->
<!--      <tr class="tabletitle">-->
<!--        <td   class="itemlabletext">Total Quantity </td>-->
<!--        <td class="tableitem">{{productOrderList.totalQuantity}}</td>-->

<!--        <td   class="itemlabletext">Total Amount </td>-->
<!--        <td class="tableitem">{{productOrderList.grandTotal | currency:'Rs:'}}</td>-->
<!--      </tr>-->
      <tr class="tabletitle">
        <td colspan="4" style="background: lightgray"></td>
      </tr>

    </table>
  </div><!--End Table-->

  <div id="legalcopy" style="text-align: center !important;">
    <p class="legal"><strong>This is computer generated print <br/>and do not require signature</strong>
    </p>
    <p class="legal">Thank you!</p>
    <p class="">Developed By</p>
    <p class="legal" > Rahu DigiTech - 03133622680 </p>
  </div><!--End InvoiceBot-->

</div><!--End Invoice-->
