<div id="print" class="print">
  <h3 mat-dialog-title>Customer Invoice
    <button  class="float-right"   mat-button (click)="onNoClick()">&times;</button>

  </h3>
  <div id="pdfTable" #pdfTable mat-dialog-content>
    <!-- Logo -->
    <div class="row navbar-header">
      <div class="col-md-2 ">
        <span><img width="149px" src="/assets/img/brand/logo2.jpg" alt="homepage" class="dark-logo"/></span>
      </div>
      <div class="col-md-7" >
        <p style="font-weight: bold;font-size: 18px;color: red"> Habib Paint House Bandhi Road,Moro, Sindh </p>
        <p> <span
          style="font-size: 14px;color: black;font-weight: bold">Mobile No. (021)00000000 Cell No. 0300-0000001</span></p>

      </div>
      <div class="col-md-3" >
        <p>Customer Name: {{productOrderList.customerName}} </p>
        <p>Mobile Number: {{productOrderList.mobileNumber}} </p>
        <p>Invoice No. {{productOrderList.invoiceNo}}</p>
        <p>Date. {{productOrderList.createdAt}}</p>

      </div>
    </div>

    <table id="receipt" class="table table-striped table-bordered" aria-label="order">
      <thead>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Item Price</th>
        <th>Sub Total</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let p of productOrderList.productSales">
        <td>{{p.product.name}}</td>
        <td>{{p.totalQuantitySale}}</td>
        <td>{{p.product.price | currency:'Rs:'}}</td>
        <td>{{p.product.price * p.totalQuantitySale | currency:'Rs:'}}</td>
      </tr>
      <tr class="table table-borderless table-dark">
        <th>Total Products</th>
        <td>{{productOrderList.totalQuantity}}</td>
        <th>Grand Total</th>
        <td>{{productOrderList.grandTotal | currency:'Rs:'}}</td>

      </tr>

      </tbody>

    </table>
  </div>
</div>
<button mat-button (click)="printTest()" class="mat-button mat-raised-button mat-primary">Print  <span class="material-icons">print</span></button>
<!--<button class="btn btn-primary" (click)="downloadAsPDF()">Export To PDF</button>-->
