<!--<h1  class="mat-dialog-title">Product <button class="float-right" class="close"   mat-button (click)="onNoClick()">&times;</button></h1>-->
<h1 mat-dialog-title  id="exampleModalLongTitle">Product
  <button  class="float-right"   mat-button (click)="onNoClick()">&times;</button>

</h1>
<div mat-dialog-content>

  <div class="row">
    <div class="col-md-6 col-6">
      <mat-form-field appearance="fill">
        <mat-label>Product Name</mat-label>
        <input matInput   minlength="2" maxlength="20" [(ngModel)]="data.name" cdkFocusInitial required>
      </mat-form-field>
      <section class="example-section">
        <mat-checkbox [disabled]="data.id>0"  (change)="validate(data);clearQty(data)" [(ngModel)]="data.wareHouseProduct" >WareHouse</mat-checkbox>
      </section>
      <section class="example-section">
        <mat-checkbox [disabled]="data.id>0"  (change)="validate(data);clearQty(data)" [(ngModel)]="data.enableTQ" >Enter Total Quantity</mat-checkbox>
      </section>
      <mat-form-field appearance="fill">
        <mat-label>Quantity Item - Sheet</mat-label>
        <input  [disabled]="data.enableTQ" type="number" matInput (change)="validate(data);calculateQty(data);validate(data)" [(ngModel)]="data.quantityItem" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Quantity Bundle</mat-label>
        <input matInput type="number" [disabled]="data.enableTQ" (change)="validate(data);calculateQty(data)" [(ngModel)]="data.quantityBundle" required>
      </mat-form-field >
      <mat-form-field appearance="fill">
        <mat-label>Extra Quantity</mat-label>
        <input matInput type="number" [disabled]="data.enableTQ" (change)="validate(data);calculateQty(data)" [(ngModel)]="data.extraQuantity" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Total Quantity</mat-label>
        <input matInput type="number" [disabled]="!data.enableTQ" [(ngModel)]="data.quantity" required>
      </mat-form-field>

    </div>
    <div class="col-md-6 col-6">
      <mat-form-field appearance="fill">
        <mat-label>WholeSale Price</mat-label>
        <input matInput type="number" [(ngModel)]="data.wholeSalePrice" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Retail Price</mat-label>
        <input matInput type="number" [(ngModel)]="data.price" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Product Description</mat-label>
        <textarea  minlength="10" maxlength="100" matInput  [(ngModel)]="data.description" cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="5" cdkAutosizeMaxRows="20"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select Company</mat-label>
        <mat-select [(ngModel)]="data.company.id">

          <mat-option *ngFor="let company of companies" [value]="company.id" required>
            {{company.name}}
          </mat-option>
        </mat-select>

      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Select Category</mat-label>
        <mat-select [(ngModel)]="data.category.id">

          <mat-option *ngFor="let category of categories" [value]="category.id" required>
            {{category.name}}
          </mat-option>
        </mat-select>

      </mat-form-field>
    </div>

    </div>
  </div>



<p *ngIf="errors!=''" style="color:red;">{{errors}}</p>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button class="mat-button mat-raised-button mat-primary" *ngIf="validate(data)" mat-button [mat-dialog-close]="data">Submit</button>
</div>
